<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Contact at {{phone}} or send an email on {{email}}</p>
    </div>
    
    {{>footer}}
</body>
</html>
